$black: #333;
$white: #fff;
$primary-color: #008080;
$dark-primary-color: darken($primary-color, 10%);
$light-primary-color: lighten($primary-color, 10%);
$secondary-color: #800000;
$dark-secondary-color: darken($secondary-color, 10%);
$light-secondary-color: lighten($secondary-color, 10%);

$link-color: #646cff;
$link-color-hover: #535bf2;

$shade: silver;
$light-shade: lighten($shade, 20%);
$dark-shade: gray;

$success-color: #18ac18;
$error-color: crimson;
$warning-color: #ffa600;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 300px;
}

a {
  font-weight: 500;
  color: $link-color;
  text-decoration: inherit;
  &:hover {
    color: $link-color-hover;
  }
}

.btn-link {
  font-weight: 500;
  color: $link-color;
  text-decoration: inherit;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  &:hover {
    background: transparent;
    text-decoration: underline;
  }
}

input,
textarea {
  border: 1px solid $shade;
  padding: 4px;
  border-radius: 4px;
  outline: none;
  flex: 1;
  resize: vertical;
  &:focus {
    border: 1px solid $dark-shade;
  }
}

#error-div {
  color: $error-color;
}

.form {
  display: flex;
  flex-direction: column;
  & > button {
    align-self: center;
  }
}

.form-control {
  flex: 1;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  background: $primary-color;
  color: $white;
  cursor: pointer;
  &:hover {
    background: $light-primary-color;
  }
  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.popup-control {
  display: flex;
  justify-content: space-around;
}

.tag {
  border: 1px solid $dark-primary-color;
  border-radius: 16px;
  padding: 0 4px;
  margin: 4px 2px;
  cursor: pointer;
  &:hover {
    background-color: $shade;
  }
}

.popup-control {
  margin: 8px 0;
}

#tags-wrapper {
  margin: 8px 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: $white;
    color: $black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: $white;
    background-color: $black;
  }
  input {
    background-color: $black;
    color: $white;
  }
}

#close {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-align: end;
  &:hover {
    color: $primary-color;
  }
}

.hide span {
  transform: rotate(90deg);
}
.hide > textarea {
  display: none;
}

#desc-wrapper > label {
  cursor: pointer;
}
