:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 300px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.btn-link {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-link:hover {
  background: transparent;
  text-decoration: underline;
}
input {
  border: 1px solid silver;
  padding: 4px;
  border-radius: 4px;
  outline: none;
  flex: 1;
}

input:focus {
  border: 1px solid gray;
}

#error-div {
  color: crimson;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-control {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form > button {
  align-self: center;
}

button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  background: teal;
  color: white;
  cursor: pointer;
}

button:hover {
  background: rgb(16, 163, 163);
}

.popup-control {
  display: flex;
  justify-content: space-around;
}

button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.tag {
  border: 1px solid teal;
  border-radius: 16px;
  padding: 2px 4px;
  margin: 4px;
}

.popup-control {
  margin: 8px 0;
}

#tags-wrapper {
  margin: 8px 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}